/* ---------- BASE ---------- */
body {
  margin: 0;
  background-color: rgb(127, 148, 92);
  font-family: "Zalando Sans Expanded", Arial, sans-serif;
}

/* ---------- HERO ---------- */
.hero {
  position: relative;
  width: 100%;
}

.hero-bg {
  width: 100%;
  display: block;
}

.hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  max-width: 1000px;
  z-index: 3;
}

.hero-lace {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 3000px;
  z-index: 2;
  pointer-events: none;
}

.hero-subtitle {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 45%;
  color: rgb(206, 189, 155);
  text-align: center;
  z-index: 3;
}
.home-button {
  display: inline-block;
  margin: 1rem;
  background-color: rgb(40, 47, 29);
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-family: "Zalando Sans Expanded", Arial, sans-serif;
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 60px;
  transform: translateX(-50%);
}
.home-button:hover {
  background-color: aliceblue;
}
.menu {
  display: flex;
  gap: 4vw;
  padding: 4vw;
  padding-top: 10vw;
  flex-wrap: wrap;
}

.menu-column {
  flex: 1;
  min-width: 20px;
}
.menu-title {
  font-size: 2.3rem;
  margin-bottom: 1rem;
}
.menu-item {
  margin-bottom: 2rem;
}
.item-name {
  font-size: 1.2rem;
  margin: 0;
}
.item-description {
  font-size: 0.8rem;
}
.item-price {
  font-weight: bold;
}
