/* BASE - moved from prev file */
body {
  margin: 0;
  background-color: rgb(127, 148, 92);
  font-family: "Zalando Sans Expanded", Arial, sans-serif;
}

/* HERO */
.hero {
  position: relative;
  width: 100%;
}

.hero-bg {
  width: 100%;
  display: block;
}

.hero-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  max-width: 1000px;
  z-index: 3;
}

.hero-lace {
  position: absolute;
  top: 92%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 3000px;
  z-index: 2;
  pointer-events: none;
}

.hero-subtitle {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 45%;
  color: rgb(206, 189, 155);
  text-align: center;
  z-index: 3;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 6vw;
}

.order-navbar {
  position: sticky;
  top: 22%;
  z-index: 10;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  background-color: rgb(64, 77, 44);
  padding: 0 1rem; /* horizontal padding for spacing */
  ul {
    display: flex;
    gap: 1rem; /* space between nav items */
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.swipe-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order-navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
